<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta chaset="utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <script type="text/javascript" src="/js/test.js"></script>
</head>
<body>
<h1 th:text="${temp}"></h1>
<div class="testDiv">你妹哦哦！</div>
<button onclick="testButton()">点我测试</button>
<image th:src="@{/image/test.png}" width="500px" height="300px"></image>
<image src="/image/test.png" width="500px" height="300px"></image>
</body>
</html>